.title {
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: white;
  background: #0e153b;
  padding: 8px;
}

.campos {
  text-align: center;
}

.header {
  background: #0e153b;
  color: white;
  padding: 1rem 0;
  height: 80px;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background: #00007c;
}
